body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color:#fff;

  font-weight: normal;
  color: #404040;
}

p {
  line-height: 1.7em;
  margin-bottom: 1em;
}